<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.learnenglishpro">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_dictionary"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_dictionary"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ListMateri"></activity>
        <activity android:name=".DetailActivity" />
        <activity
            android:name=".Kamus2"
            android:label="@string/title_activity_kamus2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PreloadActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".NightModeActivity" />
        <activity android:name=".chatroom"></activity>
        <activity
            android:name=".ChatActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".materi" />
        <activity android:name=".QuizActivity" />
        <activity android:name=".FeedbackActivity" />
        <activity android:name=".Youtube" />
    </application>

</manifest>